language: objective-c
osx_image: xcode7.3 
sudo: false
notifications:
  email: false
# Only fire off builds for specific branches.
branches:
  only:
    - master
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  matrix:
    - DESTINATION="OS=9.3,name=iPhone 6s" SDK=iphonesimulator9.3
    - DESTINATION="OS=8.1,name=iPhone 4S" SDK=iphonesimulator9.3
before_install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild -project MDFTextAccessibility.xcodeproj -scheme MDFTextAccessibility -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build test | xcpretty -c;
